<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Layout</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="gridview.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="row center">
                <div class="col-xs col-sm-3">
                        <img class="logo" src="imagesss/patikalogo.png" alt="Patika Logo" width="100px" height="28px">
                </div>
                <div class="col-xs col-sm-9">
                    <nav id="nav">
                        <a class="nav-item" href="#">Menu 1</a>
                        <a class="nav-item" href="#">Menu 2</a>
                        <a class="nav-item" href="#">Menu 3</a>
                        <a class="nav-item" href="#">Menu 4</a>
                        <a class="button" href="#">Button</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="hero">
        <div class="row center">
            <div class="col-xs-12 col-sm-6">
                <div class="hero-caption">
                    <h1>Kedilerin Dünyadaki Varlığı</h1>
                    <p>Kediler dünyanın çeşitli yerlerinde yaşarlar</p>
                    <a class="button" href="#">Call to Action</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img class="hero-image" src="imagesss/görsel1.jpg" alt="Kedi Fotoğrafı" width="500" height="400">
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4"></div>
    <div class="col-xs-12 col-sm-6 col-md-8"></div>

    <section class="section white">
            <h2 class="section-title">About</h2>
            <div id="about">
                <h4>Fiziksel Özellikler ve Duyular</h4>
                    <p>Kedilerin fiziksel yapısı, onlara benzersiz yetenekler kazandırır. Esnek ve kaslı vücut yapıları, kedilere yüksek yerlere kolayca tırmanma ve dar alanlardan geçme yeteneği verir. Kedilerin gözleri, loş ışıkta bile görmelerini sağlayan özel bir yapıya sahiptir; bu da onları gece avlanmasında son derece etkili kılar. Ayrıca, kedilerin kulakları çok geniş bir frekans aralığında duyabilir, bu sayede en ince sesleri bile algılayabilirler.</p>
            </div>
    </section>
    <section class="section">
            <h2 class="section-title">Latest Blog</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <article class="blog">
                            <img src="imagesss/görsel2.jpg" alt="blog fotoğrafı" width="400px" height="250px">
                                <div class="blog-content">
                                    <h3>Davranış ve İletişim</h3>
                                    <p>Kediler, insanlarla ve diğer kedilerle iletişim kurarken çok çeşitli davranışlar sergilerler. Miyavlama, insanların dikkatini çekmek</p>
                                    <a class="button" href="#">Learn More</a>
                                </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <article class="blog">
                            <img src="imagesss/görsel2.jpg" alt="blog fotoğrafı" width="400px" height="250px">
                                <div class="blog-content">
                                    <h3>Davranış ve İletişim</h3>
                                    <p>Kediler, insanlarla ve diğer kedilerle iletişim kurarken çok çeşitli davranışlar sergilerler. Miyavlama, insanların dikkatini çekmek</p>
                                    <a class="button" href="#">Learn More</a>
                                </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <article class="blog">
                            <img src="imagesss/görsel2.jpg" alt="blog fotoğrafı" width="400px" height="250px">
                                <div class="blog-content">
                                    <h3>Davranış ve İletişim</h3>
                                    <p>Kediler, insanlarla ve diğer kedilerle iletişim kurarken çok çeşitli davranışlar sergilerler. Miyavlama, insanların dikkatini çekmek</p>
                                    <a class="button" href="#">Learn More</a>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
    </section>
    <section class="section white">
            <h2 class="section-title">Kediler Hakkında Yorumlar</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <article class="comment">
                            <p>Kedilerin sağlıklı bir yaşam sürmeleri için düzenli veteriner kontrolleri, dengeli beslenme ve uygun bir yaşam ortamı sağlanmalıdır.</p>
                            <img src="imagesss/görsel1.jpg" alt="Yorum" width="50" height="50">
                            <h3>Sergio</h3>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <article class="comment">
                            <p>Kedilerin sağlıklı bir yaşam sürmeleri için düzenli veteriner kontrolleri, dengeli beslenme ve uygun bir yaşam ortamı sağlanmalıdır.</p>
                            <img src="imagesss/görsel1.jpg" alt="Yorum" width="50" height="50">
                            <h3>Gonzalez</h3>
                        </article>
                    </div>
                </div>
    </section>
    <footer id="footer">
        &copy; 2024 Telif Hakları saklıdır width="50" height="50"
    </footer>
</body>
</html>